<div class="form-group">
    <label for="oc-admin">ownCloud Admin User</label>
    {{ember-selectize value=newSite.extraData.oc-admin content=model.users required=true placeholder="Select an admin user" optionLabelPath="content.name" optionValuePath="content.name"}}
    <p class="help-block">This user will be given administrative privileges for ownCloud.</p>
</div>
