<div class="form-group">
    <label for="nc-admin">Nextcloud Admin User</label>
    {{ember-selectize value=newSite.extraData.nc-admin content=model.users required=true placeholder="Select an admin user" optionLabelPath="content.name" optionValuePath="content.name"}}
    <p class="help-block">This user will be given administrative privileges for Nextcloud.</p>
</div>
