{{#g-modal title="New Address Book" icon="fa-book" ok="save" close="removeModal"}}
    <div class="form-group">
        <label for="user">For User</label>
        {{view "select" class="form-control required" value=user content=model.users optionLabelPath="content.name" optionValuePath="content.name"}}
    </div>
    <div class="form-group">
        <label for="name">Book Name</label>
        {{input type="text" class="form-control required" value=name}}
    </div>
{{/g-modal}}
