{{#g-modal title="Item URL" icon="fa-code" close="removeModal"}}
<div class="text-center">
    <p>Paste the following URL into your calendar/contacts syncing client to access this item:</p>
    <strong>{{model.extra.status.url}}/{{model.user}}/{{model.filename}}/</strong>
</div>
{{/g-modal}}
