<div class="form-group">
    <label for="wb-username">Wallabag Username</label>
    {{input type="text" class="form-control username required" value=newSite.extraData.wb-username}}
    <p class="help-block">This will be the username of the first user for Wallabag.</p>
</div>
<div class="form-group">
    <label for="wb-passwd">Wallabag Password</label>
    {{input type="password" class="form-control password required" value=newSite.extraData.wb-passwd}}
</div>
