<h1 class="page-header">Chat Server (XMPP)</h1>
<h4>The following domains are enabled for use with your XMPP chat server. All users belonging to these domains can use the server.</h4>
<div class="ui-items-3">
    {{#each domain in model}}
      <div class="ui-item">
        <div class="ui-item-icon">
            <i class="fa fa-comments fa-fw fa-5x"></i>
        </div>
        <div class="ui-item-content">
          <h2>{{domain.id}}</h2>
          <p class="lead">Domain</p>
          <div class="ui-item-buttons">
          </div>
        </div>
      </div>
    {{else}}
    <div class="text-center">
        <h1 class="fa fa-comments fa-5x"></h1>
        <p class="lead">No compatible domains found. Make sure you have at least one domain added with SSL enabled.</p>
    </div>
    {{/each}}
</div>
