{{#g-modal title="Device ID" icon="fa-code" close="removeModal"}}
<div class="well well-sm text-monospace text-center">
    <p><strong>Your device ID is:</strong><br />{{ model.config.myid }}</p>
</div>
{{/g-modal}}
