<div class="checkbox">
    <label>
        {{input type="checkbox" checked=newSite.extraData.php}} Uses PHP
    </label>
</div>
<div class="form-group">
    <label for="addtoblock">Server Block</label>
    {{textarea class="form-control" rows=10 value=newSite.extraData.addtoblock}}
    <p class="help-block">Add your NGINX server block here. The <code>listen</code>, <code>servername</code>, <code>root</code> and <code>index</code> lines are already prepared for you. Just put in any applicable 'location' blocks or others you may require.</p>
</div>
